.sliderContainer {
    margin-bottom: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    flex-basis: 200rem;
}

.trackWrapper {
    flex: 0 0 80%;
    padding: 16rem 12rem 16rem 18rem;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: -16rem;
    margin-bottom: -16rem;
    background-color: unquote("rgba(0, 0, 0, 0)");
    cursor: pointer;
}
.track {
    width: 100%;
    height: 8rem;
    border-radius: 3rem;
    position: relative;
    box-shadow: inset 0 1rem 2rem unquote("rgba(0,0,0,0.3)");
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 3rem;
    pointer-events: none;
}

.sliderRed .fill {
    background-image: unquote("linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 0, 0, 1))");
}
.sliderGreen .fill {
    background-image: unquote("linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 255, 0, 1))");
}
.sliderBlue .fill {
    background-image: unquote("linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 255, 1))");
}

.sliderAlpha .fill {
    background-image: unquote("linear-gradient(to right, rgba(var(--alphaRgb), 0), rgba(var(--alphaRgb), 1))");
}
.sliderAlpha .track {
    background-image: unquote("conic-gradient( #888 90deg, #eee 90deg 180deg, #888 180deg 270deg, #eee 270deg )");
    background-size: 8rem 8rem;
}

.thumb {
    position: absolute;
    top: 50%;
    width: 16rem;
    height: 16rem;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem unquote("rgba(0, 0, 0, 0.5)");
    pointer-events: none;
}

.trackWrapper:hover .thumb {
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 8rem unquote("rgba(30, 131, 170, 0.8)");
}

.trackWrapper.dragging .thumb {
    transform: translate(-50%, -50%) scale(1.3);
    background-color: #e0f7ff;
    box-shadow: 0 0 12rem unquote("rgba(30, 131, 170, 1)");
}

.valueDisplay {
    width: auto !important;
    flex-grow: 1;
    border-radius: 4rem;
    border: 1rem solid unquote("rgba(255, 255, 255, 0.2)");
}